header{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header>nav{
    width:60%

}

ul{
        display: flex;
        align-items: center;
        justify-content: space-around;

        list-style: none;
}

nav > ul > li > a{
    text-decoration: none;
}

    
